$blue:  rgb(30, 126, 236); //variables de colores

$bg-blue: $blue; //para los backgrounds

$textColorBlue: $blue; //para los colores de textos

@mixin fontSize {
    font-size: 50px;
    line-height: 54px;
  }


body {
    background-image: url("./assets/cuadroj.jpg");
    margin: 0;
    width: 100%;
}
h1 {
    text-align: center;
    @include fontSize();
    margin-top: 0;
}

p {
    padding: 10px;
    ;
 } 
 
 footer{
    display: flex;
    justify-content: center;
    div {
        display: flex;
        align-items: center;
        p {
            color: $textColorBlue;
            border: 1px solid coral; 
        }
    }
        
 }

h1 {
    text-align: center;
    font-family: fantasy;
}

.header {
    display: flex;
    background-color: $blue;
    margin-top: 70px;
}
.img-container {
    padding: 10px;
}
.name-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    span {
        padding: 10px;
        &:last-child {
            padding-bottom: 0;
            @media only screen and (min-width: 320px) and (max-width: 481px) {
                padding-bottom: 10px;
            }
        }
    }
}

.links {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    position: fixed;
    background-color:  rgb(30, 126, 236);
    top: 0;
    align-items: center;
}

.links a {
    width: 100px;
    text-decoration: none; 
    color: black;
    border: 1px solid coral;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.date {
    border-bottom: 1px solid black;
    width: 7%;
}

.img {
    width: 300px;
    height: 300px;
}
li {
    display: flex;
    flex-wrap: wrap;
}

.button{
    text-decoration: none; 
    color: black;
    border: 1px solid rgb(30, 126, 236);
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
    .header {
        flex-direction: column;
    }

    h1 {
       font-size: 30px; 
    }

    .img-container {
        text-align: center;
    }
}