

body {
    background-image: url("./assets/cuadroj.jpg");
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    background-color: rgb(30, 126, 236);
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    }
 p {
    padding: 10px;
    ;
 } 
 
 footer{
    display: flex;
    justify-content: center;
        
 }
 footer div{
    display: flex;
    align-items: center;

 }
footer div p{
    color: blue;
    border: 1px solid coral; 
}

h1 {
    text-align: center;
    font-family: fantasy;
}
 
.img-container {
    padding: 10px;
}
.name-details {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.name-details span {
    padding: 10px;
}
.name-details span:last-child {
    padding-bottom: 0;
}

.links {
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    position: fixed;
    top: 100px;
    left: 200px;
    
}

.links a {
    text-decoration: none; 
    color: black;
    border: 1px solid coral;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 200px;
}

.date {
    border-bottom: 1px solid black;
    width: 7%;
}

.img {
    width: 300px;
    height: 300px;
}
li {
    display: flex;
    flex-wrap: wrap;
}

.button{
    text-decoration: none; 
    color: black;
    border: 1px solid rgb(30, 126, 236);
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

